/* font-family: 'Dancing Script', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

/* font-family: 'Lugrasimo', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap");

/* font-family: 'Dai Banna SIL', serif; */
@import url("https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:ital,wght@1,500&display=swap");

body {
  background-color: rgb(239, 223, 205);
}

.logo {
  width: 200px;
  border-radius: 400px;
  margin-top: -17px;
}

li {
  list-style-type: None;
}

ul {
  list-style: none;
  margin-top: -50px;
  padding: 0;
}

/* 
nav {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  width: 100%;
  opacity: 0.9;
  border: solid;
  margin-bottom: -200px;
} */

header li {
  float: right;
  margin-top: 10px;
  font-size: 20px;
}

.imagenav3 {
  width: 200px;
  margin-bottom: 50px;
}

.Nav1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  margin-left: 100px;
  margin-right: 100px;
}

.DOG {
  width: 300px;
  margin-top: -100px;
}

.empreinte {
  width: 100px;
}

.Nav2 {
  display: flex;
  justify-content: space-around;
  margin-top: 2px;
  width: 1302px;
  background-color: rgb(94, 62, 39);
  height: 50px;
  margin-left: 100px;
}

a {
  list-style-type: none;
  color: black;
  margin-top: 50px;
  color: white;
}
.imgprésentation {
  width: 50%;
  margin-left: 150px;
}

p {
  text-align: center;
  font-family: "Dai Banna SIL", serif;
}
/* 
.boxprincipale {
  border-radius: 50px;
  box-shadow: 0 0 1em rgb(177, 117, 158), 0 0 2em palevioletred;
  /* box-shadow: 50px 10px 20px rgb(255, 216, 223); */
/* margin-left: 300px;
  margin-right: 300px;
  background-color: rgb(255, 255, 255);
} */

#section1 {
  /* background-color: rgb(190, 164, 145); */
  padding-top: 20px;
}

.Présentation {
  margin-left: 370px;
  margin-right: 380px;
  background-color: white;
  border-radius: 80px;
}

.chien1 {
  width: 400px;
}

.chienp1 {
  width: 115px;
  float: right;
  margin-top: 250px;
  padding-right: 175px;
}

.Asavoir1 {
  float: left;
  border: hidden;
  text-align: center;
  width: 230px;
  margin: 100px;
  margin-top: -400px;
}
.section2part1 {
  text-align: center;
}

#section2 {
  background-color: white;
  border-radius: 50px;
  margin: 100px;
  margin-top: 30px;
}

.section2part2 {
  display: flex;
}

.box {
  border-radius: 100px;
  background-color: rgb(220, 201, 180);
  text-align: center;
  margin-left: 140px;
  width: 250px;
  margin-top: 60px;
  box-shadow: 0 0 1em rgb(78, 60, 44), 0 0 2em rgb(138, 120, 82);
  margin-bottom: 30px;
}
.img {
  border-radius: 200px;
  margin-top: 60px;
  box-shadow: 0 1em rgb(255, 255, 255);
}

.Dancing {
  font-family: "Dancing Script", cursive;
  color: rgb(202, 120, 120);
  font-size: 50px;
}

.imgsect3 {
  width: 600px;
  border-radius: 50px;
  margin-left: 101px;
  object-fit: cover;
}

.section3 {
  text-align: center;
  width: 450px;
  float: right;
  margin-top: -70px;
  font-size: 23px;
  padding-right: 200px;
}

.section4 {
  background-color: antiquewhite;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 50px;
  padding-bottom: 60px;
  padding-top: 10px;
  margin-top: 90px;
}

.Lesraces {
  height: 50px;
  width: 450px;
  margin-top: 20px;
  margin-left: 110px;
  margin-right: 50px;
}

#section4 P {
  font-size: 30px;
}

#Footer{
  background-color:  rgb(94, 62, 39);
padding: 20px 0 10px 0 ;
text-align: center;
margin-top: 120px;
border-radius: 20px;

}

form{
  margin: 0 auto;
  max-width: 900px;
}

input, textarea, button {
  border: none;
  width: 55%;
  padding: 15px 10px;
  margin: 1px 0 ;
  font-size: 1.2em;
  font-family: 'Advent Pro', sans-serif; 
  border-radius: 20px;
}


textarea {
  height: 120px;
}

button{
  font-size: 1.5em;
  background-color: antiquewhite;
}

button:hover {
  background-color: rgb(94, 33, 45);
  color: antiquewhite;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

#Traitfooter{
  height: 1px;
  width: 75%; 
  background-color: antiquewhite;
  margin: 60px auto ;
}

.Textfooter{
  color: antiquewhite;
  font-family:"Dancing Script", cursive;
  font-size: 50px;
}
